h1 {
    color:darkorchid;
}

/* Bonjour */

p {
    color:deeppink;
    font-size: 20px;
}

#bruhmoment {
    font-size: 20px;
}

#bruhmoment:active {
    font-size: 500px;
    transition: font-size 400ms;
}

ol {
    font-size: 20px;
    color: peru;
    font-weight: bold;
    font-style: italic;
    list-style-position: inside;
    padding-right: 45px;
}
li {
    color:blue;
}

.tekst-cillom {
    color:orchid;
}

.hover:hover {
    font-size: 50px;
}