body {
    background-color:aliceblue;
    font-family: Ubuntu, sans-serif;
}
h1 {
    color:darkorchid;
}
/* Bonjour */
p {
    color:deeppink;
    font-size: 20px;
}
img {
    border-radius: 50px;
}
button {
    font-family: Ubuntu, sans-serif;
    background-color: #AACC33;
    color: #75468C;
    padding: 15px 32px;
    text-align: center;
    text-decoration:overline underline;
    text-emphasis-color: black;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
}
button:hover {
    background-color: #AACC33;
    color: #75468C;
    height: 100px;
    width: 200px;
    font-size: 32px;
    }

button:active {
background-color: darkorchid;
    color: #dddddd;
}

ol {
    font-size: 20px;
    color: peru;
    font-weight: bold;
    font-style: italic;
}
li {
    color:blue;
}

.tekst-cillom {
    color:orchid;
}

.hover:hover {
    font-size: 50px;
}